<style>
  .list-striped .item:nth-child(2n-1) { background-color: rgba(83,83,83,.4);}
  .item-last { background-color: rgba(243,154,0,.4);}
  .item-last-sub { background-color: rgba(243,154,0,.1);}
</style>
<ion-view>
  <ion-tabs class="tabs-striped tabs-top">

    <ion-tab title="报价明细">
      <ion-nav-view name="tab-tab1">
        <ion-content>
          <div class="list list-striped">

            <div class="item">裸车价<div class="item-note">{{cart.car.price| currency}}</div></div>

            <div class="item" ng-show="cart.schemesCount">
              <p>
                经销商方案
                <div class="item-note">
                  {{cart.schemesCount| currency}}
                </div>
              </p>

              <p class="item-note" ng-repeat="value in cart.schemes">
                {{value.text}} {{value.price| currency}}
              </p>
            </div>

            <div class="item" ng-show="cart.giftsCount">
              <p>
                精品升级
                <div class="item-note">
                  {{cart.giftsCount| currency}}
                </div>
              </p>

              <p>
                <span class="item-note" ng-repeat="value in cart.gifts">
                  {{value.text}} {{value.price| currency}}
                </span>
              </p>
            </div>

            <div class="item">
              商业保险
              <div class="item-note">
                {{cart.shangye| currency}}
              </div>
            </div>

            <div class="item">
              交强险
              <div class="item-note">
                {{cart.jiaoqiang| currency}}
              </div>
            </div>

            <div class="item">
              购置税
              <div class="item-note">
                {{cart.gouzhi| currency}}
              </div>
            </div>

            <div class="item">
              金融服务费
              <div class="item-note">
                {{cart.service| currency}}
              </div>
            </div>

            <div class="item">
              车船使用税
              <div class="item-note">
                {{cart.chechuan| currency}}
              </div>
            </div>

            <div class="item">
              上牌费
              <div class="item-note">
                {{cart.shangpai| currency}}
              </div>
            </div>

            <div class="item item-last">
              费用总计
              <div class="item-note">
                {{cart.count| currency}}
              </div>
            </div>

            <div class="item item-last-sub" ng-show="cart.insurance.first">
              现金购车款
              <div class="item-note">
                {{cart.insurance.first| currency}}
              </div>
            </div>

            <div class="item item-last-sub" ng-show="cart.insurance.per_month_pay">
              每月还款
              <div class="item-note">
                {{cart.insurance.per_month_pay| currency}}
              </div>
            </div>

            <div class="item item-last-sub" ng-show="cart.insurance.month">
              还款期
              <div class="item-note">
                {{cart.insurance.month}}
              </div>
            </div>

          </div>
        </ion-content>

      </ion-nav-view>
    </ion-tab>

    <ion-tab title="保险明细">
      <ion-nav-view name="tab-tab1">
        <ion-content>

          <div class="item" ng-repeat="value in cart.financial.items">
            {{value.text}}  {{value.badge}}

            <span class="item-note">
              {{value.price| currency}}
            </span>
          </div>

        </ion-content>

      </ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>