<ion-view>
  <ion-tabs class="tabs-striped tabs-top">

    <ion-tab title="报价明细">
      <ion-nav-view name="tab-tab1">
        <ion-content>
          <div class="list list-striped">

            <div class="item item-complex">
              <div class="item-main">
                裸车价
                <div class="item-note">
                  {{cart.car.price| currency}}
                </div>
              </div>
            </div>

            <div class="item item-complex" ng-show="cart.schemesCount">
              <div class="item-main">
                经销商方案
                <div class="item-note">
                  {{cart.schemesCount| currency}}
                </div>
              </div>
              <div class="item-main clearfix" ng-repeat="value in cart.schemes">
                <span class="item-note">
                  <div class="app-badge app-badge-default">{{value.text}}</div>
                  {{value.price| currency}}
                </span>
              </div>
            </div>

            <div class="item item-complex" ng-show="cart.giftsCount">
              <div class="item-main">
                精品升级<div class="item-note">{{cart.giftsCount| currency}}</div>
              </div>
              <div class="item-main clearfix" ng-repeat="value in cart.gifts">
                <span class="item-note" >
                  <div class="app-badge app-badge-default">{{value.text}}</div>
                  {{value.price| currency}}
                </span>
              </div>
            </div>

            <div class="item item-complex">
              <div class="item-main">
                商业保险<div class="item-note">{{cart.shangye| currency}}</div>
              </div>
            </div>

            <div class="item item-complex">
              <div class="item-main">
                交强险<div class="item-note">{{cart.jiaoqiang| currency}}</div>
              </div>
            </div>

            <div class="item item-complex">
              购置税
              <div class="item-note">
                {{cart.gouzhi| currency}}
              </div>
            </div>

            <div class="item item-complex">
              金融服务费
              <div class="item-note">
                {{cart.service| currency}}
              </div>
            </div>

            <div class="item item-complex">
              车船使用税
              <div class="item-note">
                {{cart.chechuan| currency}}
              </div>
            </div>

            <div class="item item-complex">
              上牌费
              <div class="item-note">
                {{cart.shangpai| currency}}
              </div>
            </div>

            <div class="item item-complex item-last">
              费用总计
              <div class="item-note">
                {{cart.count| currency}}
              </div>
            </div>

            <div class="item item-complex item-last-sub" ng-show="cart.insurance.first">
              现金购车款
              <div class="item-note">
                {{cart.insurance.first| currency}}
              </div>
            </div>

            <div class="item item-complex item-last-sub" ng-show="cart.insurance.per_month_pay">
              每月还款
              <div class="item-note">
                {{cart.insurance.per_month_pay| currency}}
              </div>
            </div>

            <div class="item item-complex item-last-sub" ng-show="cart.insurance.month">
              还款期
              <div class="item-note">
                {{cart.insurance.month}}
              </div>
            </div>

          </div>
        </ion-content>

      </ion-nav-view>
    </ion-tab>

    <ion-tab title="保险明细">
      <ion-nav-view name="tab-tab1">
        <ion-content>
          <div class="list list-striped">
            <div class="item item-complex" ng-repeat="value in cart.financial.items">
              <div class="item-main">
                {{value.text}}  {{value.badge}}<span class="item-note">{{value.price| currency}}</span>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>