<ion-view>
  <ion-content>

    <div class="list">
      <div class="item block-quote">
        <label class="block-quote-outer" for="select">
          <div class="block-quote-inner app-select">
            <select  ng-model="cart.financial.name" id="select">
              <option ng-repeat="val in data.names">{{val}}</option>
            </select>
          </div>
        </label>
      </div>
    </div>

    <div class="cells cells-access cells-checkbox">
      <label class="cell" ng-repeat="value in data.items">
        <div class="cell-hd">
          <input type="checkbox" class="app-check" ng-model="value.checked" ng-change="checkItem()">
          <i class="icon-checked"></i>
        </div>
        <div class="cell-bd cell-primary">{{value.text}}</div>
        <a class="cell-ft" ng-show="value.text == '第三者责任险' || value.text == '玻璃单独破损险' || value.text == '车身划痕险'" ng-click="openPopover($event, value)">{{value.price| currency}}</a>
        <div class="cell-ft"  ng-show="!(value.text == '第三者责任险' || value.text == '玻璃单独破损险' || value.text == '车身划痕险')">{{value.price| currency}}</div>
      </label>
    </div>

  </ion-content>
  <div class="fixed-bottom">
    <div class="bottom-main">保险合计</div>
    <button class="button button-app" type="button" ng-click="goBack()">确定</button>
  </div>
</ion-view>