<ion-view>
  <ion-content>

    <label class="item item-input item-select">
      <div class="input-label">
        保险公司
      </div>
      <select ng-model="cart.financial.name">
        <option ng-repeat="val in data.names">{{val}}</option>
      </select>
    </label>

    <div class="item" ng-repeat="value in data.items">
      <ion-checkbox ng-model="value.checked" ng-change="checkItem()">
        {{value.text}}
      </ion-checkbox>
      <a class="item-note"
         ng-show="value.text == '第三者责任险' || value.text == '玻璃单独破损险' || value.text == '车身划痕险'"
         ng-click="openPopover($event, value)"
      >
        {{value.price| currency}}
        <i class="icon icon-right ion-ios-arrow-right"></i>
      </a>
      <span class="item-note" ng-show="!(value.text == '第三者责任险' || value.text == '玻璃单独破损险' || value.text == '车身划痕险')">
        {{value.price| currency}}
      </span>
    </div>

    <button class="button button-block button-positive" ng-click="goBack()">确定</button>

  </ion-content>
</ion-view>