<ion-view>
  <ion-content>

    <div class="list">
      <div class="item block-quote">
        <label class="block-quote-outer" for="select">
          <div class="block-quote-inner app-select">
            <select  ng-model="cart.financial.name" id="select">
              <option ng-repeat="val in data.names">{{val}}</option>
            </select>
          </div>
        </label>
      </div>
    </div>

    <div class="cells cells-access cells-checkbox">
      <div class="cell" ng-repeat="(key, value) in data.items">
        <label class="cell-hd">
          <input type="checkbox" class="app-check" ng-model="value.checked" ng-change="checkItem()">
          <i class="icon-checked"></i>
        </label>
        <div class="cell-bd cell-primary">{{value.text}}</div>

        <a class="cell-ft" ng-if="key == 1 || key == 4 || key == 9" ng-click="openPopover($event, value)">
          <numb>{{value.price| currency}}</numb>
        </a>
        <div class="cell-ft-no-icon" ng-if="!(key == 1 || key == 4 || key == 9)">
          <numb>{{value.price| currency}}</numb>
        </div>
      </div>
    </div>

  </ion-content>
  <div class="fixed-bottom">
    <div class="bottom-main">Total: <numb>{{cart.financialCount| currency}}</numb></div>
    <button class="button button-app" type="button" ng-click="goBack()">Submit</button>
  </div>
</ion-view>