<ion-view>
  <ion-content>
    <div class="row">
      <div class="col col-50 col-offset-25">
        奔驰
      </div>
    </div>

    <div class="row">
      <div class="col col-50 col-offset-25">
        2016款C200轿跑
      </div>
    </div>

    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="item in items" href="#/view/{{item.id}}">
        <img ng-src="{{item.image}}">
        <h2>{{item.name}}  ${{item.price}}</h2>
        <p>外观：{{item.exterior}} 内饰：{{item.interior}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>