<ion-view>
  <ion-content>
    <div class="list-title">2016款C200轿跑</div>
    <ion-list>
      <ion-item ng-repeat="item in items" href="#/view/{{item.id}}">
        <div class="media-box">
          <div class="media-box-hd"><img ng-src="{{item.image}}"></div>
          <div class="media-box-bd media-box-primary">
            <div class="media-title">{{item.name}}</div>
            <div class="media-text">
              外观：{{item.exterior}}
              <span class="color-point" style="background-color: red;"></span>
            </div>
          </div>
          <div class="media-box-bd media-box-primary">
            <div class="parallelogram">{{item.badge_price}}</div>
            <div class="media-text">
              内饰：{{item.interior}}
              <span class="color-point" style="background-color: red;"></span>
            </div>
          </div>
          <div class="media-box-ft">
            <div class="circle">{{item.in_stock + item.on_stock}}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>