<ion-view>
  <ion-content>

    <div class="list-head">3.99 Financing Option</div>
    <div class="list-head-sub">
      <div class="parallelogram">3.99 Financing Option</div>
      <div class="content">
        <span>Interest Rate:  <dfn>3.99%</dfn></span>
        <span>Term:  <dfn>36</dfn>months</span>
      </div>
    </div>
    <div class="list">

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            Car Price
            <span class="item-note">{{cart.car.price| currency}}</span>
          </div>
        </div>
      </div>

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            Down Payment
            <span class="item-note">{{insurance.first| currency}}</span>
          </div>
          <div class="range">
            <input type="range" name="volume" ng-model="insurance.scale" min="50" max="100" ng-change="changeScale()">
            {{insurance.scale}}%
          </div>
        </div>
      </div>

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            Monthly Payment
            <span class="item-note">{{insurance.per_month_pay| currency}}</span>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center margin-top-lg">
      <button class="button button-app" ng-click="setInsurance()">Submit</button>
    </div>

  </ion-content>
</ion-view>