<ion-view>
  <ion-content>

    <div class="list-head">3.99星时贷金融贷款方案</div>
    <div class="list-head-sub">
      <div class="parallelogram">3.99星时贷金融贷款方案</div>
      <div class="content">
        <span>利率:<numb>3.99%</numb></span>
        <span>还款期:<numb>36</numb>个月</span>
      </div>
    </div>
    <div class="list">

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            可贷款总价
            <numb class="item-note">{{cart.car.price| currency}}</numb>
          </div>
        </div>
      </div>

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            首付
            <numb class="item-note">{{insurance.first| currency}}</numb>
          </div>
          <div class="range">
            <input type="range" name="volume" ng-model="insurance.scale" min="50" max="100" ng-change="changeScale()">
            <numb>{{insurance.scale}}%</numb>
          </div>
        </div>
      </div>

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            每月还款
            <numb class="item-note">{{insurance.per_month_pay| currency}}</numb>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center margin-top-lg">
      <button class="button button-app" ng-click="setInsurance()">确定</button>
    </div>

  </ion-content>
</ion-view>