<ion-view>
  <ion-content>

    <div class="list list-inset">

      <div class="item">
        <span>可贷款总价</span>
        <span class="item-note">
          {{cart.car.price| currency}}
        </span>
      </div>

      <div class="item">
        <p>
          <span>首付</span>
          <span class="item-note">
            {{insurance.first| currency}}
          </span>
        </p>

        <div class="item range">
          <input type="range" name="volume" ng-model="insurance.scale" min="50" max="100" ng-change="changeScale()">
          {{insurance.scale}}%
        </div>
      </div>

      <div class="item">
        <span>每月还款</span>
        <span class="item-note">
          {{insurance.per_month_pay| currency}}
        </span>
      </div>

    </div>

    <button class="button button-block button-positive" ng-click="setInsurance()">确定</button>

  </ion-content>
</ion-view>