<ion-popover-view>
  <ion-content style="padding-top: 0px; margin: 0">
    <div class="cells cells-access cells-checkbox">
      <label class="cell" ng-repeat="value in check.popover">
        <div class="cell-hd">
          <input type="radio" class="app-check" ng-model="check.badge" ng-value="value.badge" ng-click="checkBadge(check, value)">
          <i class="icon-checked"></i>
        </div>
        <div class="cell-bd cell-primary">{{value.badge}} <numb>{{value.price| currency}}</numb></div>
      </label>
    </div>
  </ion-content>
</ion-popover-view>