<ion-view>
  <ion-content>

    <div class="list-head">Dealer Options</div>
    <div class="list">

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            <div class="cells-title">Choose Dealer Options</div>

            <div class="cells-checkbox">

              <label class="cell" ng-repeat="item in list">
                <div class="cell-hd">
                  <input type="checkbox" class="app-check" ng-model="item.checked" ng-change="addScheme()">
                  <i class="icon-checked"></i>
                </div>
                <div class="cell-bd cell-primary">{{item.text}} </div>
                <div class="cell-hd">
                  <numb>{{item.price| currency}}</numb>
                </div>
              </label>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="list-footer">
      Total：<numb>{{cart.schemesCount| currency}}</numb>
    </div>

    <div class="text-center margin-top-xl hide-on-keyboard-open">
      <button class="button button-app" ng-click="goBack()">Submit</button>
    </div>

  </ion-content>
</ion-view>