<ion-view>
  <ion-content>

    <div class="list-head">经销商方案</div>
    <div class="list">

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            <div class="cells-title">选择经销商方案</div>

            <div class="cells-checkbox">

              <label class="cell" ng-repeat="item in list" ng-model="item.checked" ng-change="addScheme()">
                <div class="cell-hd">
                  <input type="checkbox" class="app-check" ng-model="value.checked" ng-change="checkItem()">
                  <i class="icon-checked"></i>
                </div>
                <div class="cell-bd cell-primary">{{item.text}} </div>
                <div class="cell-hd">{{item.price| currency}}</div>
              </label>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="list-footer">
      小计：{{cart.schemesCount| currency}}
    </div>

    <div class="text-center margin-top-xl hide-on-keyboard-open">
      <button class="button button-app" ng-click="goBack()">确定</button>
    </div>

  </ion-content>
</ion-view>