<ion-view>
  <ion-content>
    <div class="car-detail">
      <div class="car-name">{{item.car.name}}</div>
      <div class="car-image"><img ng-src="{{item.car.image}}"></div>
      <div class="car-desc">
        <span>库存：{{item.car.in_stock}}</span>
        <span>运输：{{item.car.on_stock}}</span>
      </div>
    </div>
    <div class="cell">
      <div class="cell-primary cell-border"><h3>{{item.car.badge_price}}</h3></div>
      <div class="cell-primary cell-border">
        <div class="media-text">
          外观：{{item.car.exterior}}
          <div class="color-point" style="background-color: {{item.car.exterior_color}};"></div>
        </div>
        <div class="media-text">
          内饰：{{item.car.interior}}
          <div class="color-point" style="background-color: {{item.car.interior_color}};"></div>
        </div>
      </div>
    </div>

    <div class="list block-quote-access">
      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            裸车价
            <span class="item-note">{{item.car.price| currency}}</span>
          </div>
        </div>
      </div>

      <a class="item block-quote" href="#/schemes">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            经销商方案
            <span class="item-note" ng-show="item.schemesCount">{{item.schemesCount| currency}}</span>
          </div>
          <div class="block-quote-footer" ng-show="item.schemes">
            <div class="app-badge app-badge-default" ng-repeat="value in item.schemes">
              {{value.text}}
            </div>
          </div>
        </div>
      </a>

      <a class="item block-quote" href="#/gifts">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            精品升级
            <span class="item-note" ng-show="item.giftsCount">{{item.giftsCount| currency}}</span>
          </div>
          <div class="block-quote-footer" ng-show="item.gifts">
            <div class="app-badge app-badge-default" ng-repeat="value in item.gifts">
              {{value.text}}
            </div>
          </div>
        </div>
      </a>

      <a class="item block-quote" href="#/financial">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            商业保险
            <span class="item-note" ng-show="item.financialCount">{{item.financial.name}} {{item.financialCount| currency}}</span>
          </div>
        </div>
      </a>

      <a class="item block-quote" href="#/insurance">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            金融方案
            <span class="item-note" ng-show="item.insurance">月供：{{item.insurance.per_month_pay| currency}}</span>
            <span class="item-note" ng-show="item.insurance">首付：{{item.insurance.first| currency}}</span>
          </div>
        </div>
      </a>

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            现金优惠
            <input type="text" class="item-note input-label" ng-model="item.preferential" ng-change="reCalculate()">
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="button button-app" href="#/detail">查看报价详细</a>
    </div>

  </ion-content>
</ion-view>