<style>
  .car-detail {
    text-align: center;
    padding: 25px 10px 8px;
  }
  .car-name {
    font-size: 15px;
    color: #ffffff;
  }
  .car-image {
    width: 174px;
    height: 70px;
    background: url(/img/car_image_bottom.png) scroll no-repeat bottom center;
    background-size: 100% auto;
    margin: 0 auto;
    padding: 0 44px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .car-image img {
    width: 100%;
  }
  .car-desc {
    font-size: 12px;
    color: #999999;
  }
  .car-desc span + span {
    margin-left: 15px;
  }

  .cell {
    margin: 10px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #AAAAAA;
  }
  .cell h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: #ffffff;
    margin-bottom: 0;
  }
  .cell .media-text {
    line-height: 17px;
    margin-bottom: 0;
  }
  .cell-border {
    border: 1px solid #604b16;
    border-radius: 4px;
    padding: 0 23px;
  }
  .cell-primary {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .cell-primary + .cell-primary {
    margin-left: 17px;
  }

  .block-quote {
    position: relative;
    padding: 0 0 0 10px;
  }
  .block-quote + .block-quote {
    margin-top: 12px;
  }
  .block-quote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #69471a;
    border-radius: 0 5px 5px 0;
  }
  .block-quote-outer {
    border: 1px solid #8c6015;
    border-radius: 4px;
  }
  .block-quote-inner {
    position: relative;
    padding: 8px 14px;
    font-size: 15px;
    color: #ffffff;
  }
  .block-quote-inner .item-note {
    color: #999999;
  }
  .block-quote-inner .item-note + .item-note {
    margin-right: 18px;
  }
  .block-quote-inner .input-label {
    padding: 0;
    font-size: inherit;
    width: auto;
  }
  .block-quote-footer {
    text-align: right;
    line-height: 1;
    padding: 8px 14px;
  }
  .block-quote-inner + .block-quote-footer {
    padding-top: 0;
  }
  .block-quote-access {
    margin-bottom: 25px;
  }
  .block-quote-access .block-quote-inner,
  .block-quote-access .block-quote-footer {
    padding-right: 30px;
  }
  .block-quote-access a.block-quote .block-quote-inner:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 7px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    margin-top: -7px;
    border-left-color: #654617;
  }

  .app-badge {
    display: inline-block;
    min-width: 57px;
    font-size: 12px;
    font-weight: 100;
    line-height: 15px;
    border-radius: 1px;
    text-align: center;
    padding: 0 2px;
  }
  .app-badge-default {
    color: #999999;
    background-color: #654617;
  }
  .app-badge + .app-badge {
    margin-left: 9px;
  }
  .button-app {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    min-width: 180px;
    line-height: 1;
    padding: 10px;
    min-height: 40px;
    border: 1px solid rgba(255,188,78,.37);
    background-color: rgba(167,109,12,0.2);
  }
</style>
<ion-view>
  <ion-content>
    <div class="car-detail">
      <div class="car-name">{{item.car.name}}</div>
      <div class="car-image"><img ng-src="{{item.car.image}}"></div>
      <div class="car-desc">
        <span>库存：2</span>
        <span>运输：1</span>
      </div>
    </div>
    <div class="cell">
      <div class="cell-primary cell-border"><h3>￥：139.98万</h3></div>
      <div class="cell-primary cell-border">
        <div class="media-text">
          外观：799钻石白
          <div class="color-point" style="background-color: red;"></div>
        </div>
        <div class="media-text">
          内饰：105米色
          <div class="color-point" style="background-color: red;"></div>
        </div>
      </div>
    </div>

    <div class="list block-quote-access">
      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            裸车价
            <span class="item-note">{{item.car.price| currency}}</span>
          </div>
        </div>
      </div>

      <a class="item block-quote" href="#/schemes">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            经销商方案
            <span class="item-note" ng-show="item.schemesCount">{{item.schemesCount| currency}}</span>
          </div>
          <div class="block-quote-footer">
            <div class="app-badge app-badge-default">两轮胎险</div><div class="app-badge app-badge-default">两轮胎险</div>
          </div>
        </div>
      </a>

      <a class="item block-quote" href="#/gifts">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            精品升级
            <span class="item-note" ng-show="item.giftsCount">{{item.giftsCount| currency}}</span>
          </div>
          <div class="block-quote-footer">
            <div class="app-badge app-badge-default">两轮胎险</div><div class="app-badge app-badge-default">两轮胎险</div>
          </div>
        </div>
      </a>

      <a class="item block-quote" href="#/financial">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            商业保险
            <span class="item-note" ng-show="item.financialCount">{{item.financial.name}} {{item.financialCount| currency}}</span>
          </div>
        </div>
      </a>

      <a class="item block-quote" href="#/insurance">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            金融方案
            <span class="item-note" >月供：{{item.insurance.per_month_pay| currency}}</span>
            <span class="item-note" >首付：{{item.insurance.first| currency}}</span>
          </div>
        </div>
      </a>

      <div class="item block-quote">
        <div class="block-quote-outer">
          <div class="block-quote-inner">
            现金优惠
            <span class="item-note input-label">￥0</span>
            <input type="hidden" ng-model="item.preferential" ng-change="reCalculate()">
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="button button-app" href="#/detail">查看报价详细</a>
    </div>

  </ion-content>
</ion-view>