.view-container {
	background: url(../img/BG.png) no-repeat fixed top center;
	background-size: 100% auto;
}
.scroll-content {
	background: url(../img/BG.png) no-repeat fixed top center;
	background-size: 100% auto;
	padding-top: 50px;
	color: #AAA;
}
.pane {
	background: none;
}
.list-title {
	font-size: 15px;
	line-height: 40px;
	margin: 14px 10px 0;
	text-align: center;
	color: #fff;
	background: url(../img/list_title_bg.png);
	background-size: 100% 100%;
}
.list {
	margin: 0 10px;
}
.item {
	background-color: transparent;
	border: 0;
}
.item .item-content {
	background-color: transparent;
	padding: 0;
}
.item .item-content.activated {
	background-color: #3d3d3d;
	border: 0;
}
.media-box {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px 12px;
	background-color: transparent;
	color: #AAAAAA;
	background: url(/img/media_box_bg.png) no-repeat scroll bottom center;
	background-size: 100% auto;
}
.media-box-hd {
	padding-right: 1px;
	margin-right: 11px;
	width: 42px;
	height: 34px;
	background: url(/img/media_box_hd.png) no-repeat scroll top right;
	background-size: auto 34px;
}
.media-box-hd img {
	width: 100%;
}
.media-box-primary {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.media-box-primary + .media-box-primary {
	padding-left: 18px;
}
.media-box-ft {
	margin-left: 18px;
	min-width: 35px;
}
.media-title {
	display: inline-block;
	font-size: 14px;
	color: #FEB53B;
	line-height: 15px;
}
.media-text {
	font-size: 12px;
	line-height: 2;
	position: relative;
	padding-right: 12px;
}
.color-point {
	display: inline-block;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -5px;
}

.parallelogram {
	display: inline-block;
	background-color: rgba(167,109,12,0.2);
	margin: 0 10px;
	padding: 0 3px;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	position: relative;
}
.parallelogram:before {
	content: '';
	position: absolute;
	top: 0;
	left: -6px;
	border-bottom: 15px solid rgba(167,109,12,0.2);
	border-left: 6px solid transparent;
}
.parallelogram:after {
	content: '';
	position: absolute;
	top: 0;
	right: -6px;
	border-top: 15px solid rgba(167,109,12,0.2);
	border-right: 6px solid transparent;
}

.circle {
	display: inline-block;
	width: 35px;
	height: 35px;
	font-size: 22px;
	padding-top: 5px;
	border: 1px dotted #A76D0C;
	border-radius: 50%;
	text-align: center;
}

/* 报价明细 */
.tab-content .scroll-content{
	padding-top: 0;
}
.tabs-striped .tabs {
	background: transparent;
	border: none;
	padding: 0 10px;
}
.tabs-top.tabs-striped .tab-item {
	font-size: 15px;
	color: #666666;
	position: relative;
	border-width: 0;
	overflow: visible;
	max-width: 100%;
}
.tabs-top.tabs-striped .tab-item:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border: 1px solid #936a18;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.activated {
	margin-top: 1px;
	color: #ffffff;
	border-width: 0!important;
}
.tabs-top.tabs-striped .tab-item.tab-item-active:after {
	height: 3px;
	border: 3px solid #936a18;
}
.tabs-top.tabs-striped .tab-item.tab-item-active.activated:after {
	bottom: 0;
}
.tabs-top.tabs-striped .tab-item.activated:after {
	bottom: 1px;
}